h2{
    color: black;
    font-family: "roboto";
    font-weight: bold;

}
label{
    color: black;
    font-family: "roboto";
    font-weight: bold;
    text-decoration: underline;
}
button{
    padding: 10px;
    color: black;
    background-color: transparent;
    font-size: 20px;
    font-family: 'roboto';
    margin: 3px;
}
input{
    padding: 10px;
    color: black;
    background-color: transparent;
    font-size: 20px;
    font-family: 'roboto';
    margin: 3px;
}